		body {
			background-color: rgb(159,241,223);
			font-family: verdana, arial, times;
			font-size: 25px;
			/*background-image: url("farcry.jpg");*/
		}
		h1,h2 {
			background-color: white;
			border: 1px solid black;
			border-bottom: 1px solid black;
			font-size: 1.5em; 
		}
		h2 {
			color: blue;
		}
		.underline{
			text-decoration: underline overline line-through; 
  			font-style: italic;	
	
		}
		.image{
			border-color: blue;
			border-width: 5px;
			margin-left: 500px;
			border-style: groove;
			height: 500px;
			width: 1000px;
		}
		.body {
			color: black; 
			background-color: red;
 			font-size: 20px;
 			line-height: 1.5;
/* 			padding: 10px;*/
 			border-color: black;
 			border-width: 4px;
 			border-style: solid;
 			border-radius: 20px;
 			float: left;
 			width: 50%;
		}
		a:link {
			color: blue;
		}
		a:visited{
			color: red;
		}
		a:hover{
			color: green;
		}
		.highlight{
			background-color: rgb(65,172,102);
		}
		.orange {
			color: black; 
			padding: 5px;
/*			background-image: url("sky.jpg");*/
			margin-top: none;
			border-bottom-style: dotted;
			float: right;
			width: 50%;
			background-color: orange;
			font-size: 20px;
		}
