#theform{
	color: white;
	display: table;
	background-color: lightgreen;
	border: 3px;
	border-radius: 3px;
	padding: 15px;
}

.table {
	display: table-row;
}
.table label{
	display: table-cell;
	padding: 3px;
}
.table input{
	display: table-cell;
	padding: 3px;
}